.jfx-text-field{
	
        -fx-text-fill: white;
        -fx-prompt-text-fill: white;
}

.jfx-password-field{
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
}
.background{
	-fx-background-color: #C00D0D;
}

#yellowButt{
    -fx-background-color:  black;
}