.jfx-text-field{
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
}

.jfx-password-field{
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
}

.background{
    -fx-background-color: #D0E5E6;
}

.presentBtn{
    -fx-background-color: #009FE3;
    -fx-text-fill: black;
}

.absentBtn {
    -fx-background-color: #FD3817;
    -fx-text-fill: black;
}

.logoutBtn {
    -fx-background-color: #FBBB2C;
    -fx-text-fill: black;
}

.grayBtn{
    -fx-background-color: #A1A1A1;
}

.text-area *.text {
    -fx-text-alignment: center;
}
